<ol class="task-list">
  <li>
    <article class="kids">
      <div class="title">
      </div>
      <div class="meta">
        {{current_points}} point(s) earned by {{child_name}}, this will be added to 
       their banked total of {{banked_points}}. Their guaradian {{user.name}}.
        |
        <a href="/tasks/{{id}}">{{tasks.length}} task(s)</a>
      </div>
    </article>
  </li>
</ol>